*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
}
:root{
    --lightgrey:#E9ECEF;
    --blue:#007BFF;
    
}
h1{
    color:#474B4F;
}
p{
    color: #4a4c4f;
    font-size: small;
}
/* button{
    margin: 0px 15px;
} */
.container{
    margin: 20px 0px;
}
.hero-section{
    background-color: var(--lightgrey);
    padding: 20px 15px;
}
.hero-section img:first-child{
    width: 60px;
    padding-bottom: 10px; 
}
.hero-section img:last-child{
    width: 90px;
    vertical-align: middle;
    margin-top: 30px; 
}
.hero-section h1{
    font-size: 23px;
    font-weight: 700;
}
.block-btn{
    display: block;
    width: 100%;
    border: none;
    background-color: var(--blue);
    padding: 14px 60px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin: 0px 8px;
    color: white;
    border-radius: 5px;

}